<ejs-accordion>
  <e-accordionitems>
    <e-accordionitem>
      <ng-template #header>
        <div><h5>Angular</h5></div>
      </ng-template>
      <ng-template #content>
        <div>A client-side JavaScript framework which is based on MVC architecture. It simplifies web development by offering automatic view/model synchronization. Angular is lightweight, supports all major browsers, and built for creating testable JavaScript code.
        </div>
	<router-outlet></router-outlet>
      </ng-template>
    </e-accordionitem>
</e-accordionitems>
</ejs-accordion>