<ejs-accordion>
  <e-accordionitems>
    <e-accordionitem>
      <ng-template #header class="head">
       <div>
          <h5>
          	AJAX
          </h5>
      </div>
      </ng-template>
      <ng-template #content>
        <div>Ajax, short for Asynchronous Java and XML, has allowed developers to create interactive web-pages with rich interfaces with the help of XML, HTML, CSS, and JavaScript. It helps create better, faster, and more interactive web-applications.
        </div>
<div>
  <ul>
    <li><a routerLink="/html">Html</a></li>
    <li><a routerLink="/css">CSS3</a></li>
    <li><a routerLink="/javascript" >Javascript</a></li>
    <li><a routerLink="/xml">Xml</a></li>
  </ul>  
</div>
	<router-outlet></router-outlet>
      </ng-template>
    </e-accordionitem>
</e-accordionitems>
</ejs-accordion>