<ejs-accordion>
  <e-accordionitems>
    <e-accordionitem>
      <ng-template #header class="head">
        <div>
           <h5>
           Bootstrap
       </h5>
   </div>
      </ng-template>
      <ng-template #content>
        <div>  An open source toolkit for building responsive, mobile-first projects on the web with HTML, CSS, and JavaSсript. Enables to quickly prototype ideas or build the entire app using Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful plugins built on jQuery.
        </div>
  <div>
  <ul>
    <li><a routerLink="/html">Html</a></li>
    <li><a routerLink="/css">CSS3</a></li>
    <li><a routerLink="/javascript">Javascript</a></li>
    <li><a routerLink="/jquery">jquery</a></li>
  </ul>  
</div>
	<router-outlet></router-outlet>
      </ng-template>
    </e-accordionitem>
</e-accordionitems>
</ejs-accordion>